.p-section {
  text-align: center;
  margin-top: 8px;

  @media screen and (min-width: $bp-tablet) {
    margin-left: 122px;
    max-width: 238px;
    color: var(--color-landing);
    font-size: 12px;
    font-family: "roboto", sans-serif;
  }
}
